@use "functions" as *;

$hero-padding: clamp(15rem, 15vh, 20rem);
$section-padding: clamp(3rem, 10vh, 7rem);

$card-body-padding: 5rem; // 80px

$grid-gap: size(24);
$flex-group-gap: size(16);

$container-inline-padding: 1rem;
$container-max-width: 77.75rem; // 1244px
$container-max-width-wide: 100rem; // 1625px
