@use "../abstracts" as *;

// or .section-xl, or even hero-section
.hero {
  padding-block: $hero-padding;
  background-image: url("../../assets/hero-bg.webp");
  background-size: cover;
  background-position: center;
}
