@use "../abstracts" as *;

.section-header {
  h2 {
    margin-block-end: size(20);
  }

  &:has(p) {
    margin-block-end: size(36);
  }

  &:not(:has(p)) {
    margin-block-end: size(36) * 2.5;
  }

  &[data-decoration="true"]::after {
    content: "";
    display: block;
    background-color: currentColor; // OG of custom properties
    width: 10rem;
    height: 1px;
    margin-block-start: size(36);

    .text-center & {
      margin-inline: auto;
    }
  }

  p {
    max-width: 50ch;

    .text-center & {
      margin-inline: auto;
    }
  }
}
